// Place all the styles related to the generated_names controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



$background-color: #8fc06c;
$opacityStart: 1.1;
$generated_name_font: 42px;
$mobile_generated_name_font: 30px;
$mobile_background_check_link: 18px;


@mixin fade-out-past-name($opacity) {

	opacity: $opacity;

}


@for $i from 1 through 6 {
	$opacityStart: $opacityStart - 0.15;
    p:nth-of-type(#{$i}) {
       @include fade-out-past-name($opacityStart);
       font-size: $generated_name_font;
    }
    $generated_name_font: $generated_name_font - 4;

}


body{
	background: $background-color;
	color:#FFF;
	text-align:center;
}

.past p:first-of-type{
	margin-top:40px;
}

.past p{
	margin-bottom:20px;
}


a {
	color: #fff;
	font-size: 16px;
}

/* unvisited link */
a:link {
    color: #FFf;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #FFF
}

/* mouse over link */
a:hover {
    color: #FFF;
    background-color: $background-color;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #0000FF;
}

.name label{
	display:block;
	margin-bottom: 15px;
}

.form-inputs label{
	display: inline-block;
}

fieldset{
	border: none;
	margin-bottom: 20px;
}

input[type=text]{
	width:40%;
	padding: 10px;
}

select{
	width: 70px;
	margin-left: 15px;
}

input[type=submit] {
  	display: inline-block;
  	background-color: $background-color;
  	width: 200px;
  	padding: 8px;
  	color: #fff;
  	border: 2px solid #fff;
  	text-align: center;
  	outline: none;
  	text-decoration: none;
  	transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
    cursor: pointer;
}
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #fff;
  color: $background-color;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

input[type="radio"]{
	margin:0 20px 0 10px;
	padding:5px;
}

input[type="radio"]:last-of-type{
	margin-right:0;
}

form{
	margin-bottom: 60px;
	margin-top:20%;
}

// animations

.past p {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
}


// mobile stylesheets
@media screen and (max-width: 500px){

	input[type=text]{
		width:90%;
		padding: 10px;
	}

	form {
		margin-bottom: 15%;
	}

	.past a{
		display:block;
		padding-top: 10px;
		font-size: 12px;;
	}


	@for $i from 1 through 6 {
	    p:nth-of-type(#{$i}) {
	       font-size: $mobile_generated_name_font;
	    }
	    $mobile_generated_name_font: $mobile_generated_name_font - 4;
	}
}
